*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/* OFFER SECTION */
.offer{
    background-color: #1D232C;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.offer span{
    font-weight: bold;
}
.close{
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* NAV */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 20;
}
.title{
     font-family: "Pirata One", system-ui;
     font-weight: 500;
     color: #1D232C;
     letter-spacing: 2px;
}
.nav__list{
    display: flex;
    gap: 20px;
}
.nav__list ul{
    display: flex;
    gap: 30px;
}
.nav__list li{
    list-style: none;
}
.nav__list li a{
    text-decoration: none;
    color: black;
}
.nav__list li a:hover{
    text-decoration:underline;
    color: black;
}
.menu{
    display: none;
    cursor: pointer;
}

/* SIDE BAR */
.sidebar{
    display: none;
}

/* HOME SECTION */
.home{
    height: 450px;
    margin: 10px 20px;
    border-radius: 10px;
    position: relative;
}
.image__container{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
}
.image{
    width: 100%;
    height: 450px;
    display: flex;
    transition: all 1s ease;
}
.image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    inset: 0;
    border-radius: 10px;
}
.content{
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: center;
    color: white;
}
.content h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.btn{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.arrow{
    font-size: 100px;
    color: white;
    cursor: pointer;
}
.leftArrow{
    position: absolute;
    top: 45%;
    left: 3%;
    font-weight: bold;
}
.rightArrow{
    position: absolute;
    top: 45%;
    right: 3%;
    font-weight: bold;
}

/* BRANDS SECTION */
.brands{
    width: 100%;
    margin: 20px;
}
.brand__container{
    display: flex;
    justify-content: space-between;
    padding:0 20px;
}
.brand__list img{
    width: 60px;
    height: 40px;
}
.brand__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.brand__list p {
    font-size: 20px;
}

/* ABOUT */
.about1{
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.about__container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.about__list{
    background-color: rgb(217, 217, 244);
    border-radius: 10px;
    padding: 20px;
}
.about__icon{
    font-size: 30px;
}
.about__list h4{
    margin: 10px 0;
}
.about__list p{
    font-size: 13px;
}

/* ARRIVAL SECTION */
.arrival{
    padding:20px;
    margin-top: 30px;
}
.arrival__container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.arrival__list{
    width: 22%;
    height: 250px;
    border-radius: 10px;
    position: relative;
}
.arrival__list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.arrival__list button{
    position: absolute;
    top: 45%;
    left: 23%;
    z-index: 10;
}
.arrival__overlay{
    background-color: rgba(0, 0, 0, 0.516);
    position: absolute;
    inset: 0;
    border-radius: 10px;
}

/* WANTED SECTION */
.wanted{
    padding: 20px;
    margin-top: 30px;
}
.wanted__container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    gap: 20px;
    min-width:100vw;
}
.wanted__list{
    width: 250px;
    height: 250px;
    flex: 0 0 auto;
    border-radius: 10px;
    position: relative;
}
.wanted__list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.wanted__list img:hover{
    opacity: 0.8;
}
.wanted__list p{
    background-color: red;
    display: inline;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 0%;
} 
.wanted__list button{
    background: none;
    border: none;
}
.like{
    color: white;
    position: absolute;
    bottom: 2%;
    right: 10%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

/* AD SECTION */
.ad{
    margin: 20px;
    background-color: #1D232C;
    border-radius: 10px;
    height: 360px;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.ad img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.ad__content{
    color: white;
}
.ad__content h1{
    font-size: 40px;
}
.ad__content h3{
    margin: 15px 0px;
}

/* NEWS LETTER */
.news__letter{
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news__letter input{
    display: inline-block;
    height: 30px;
    width: 80%;
    padding: 10px;
    margin-bottom:20px;
    border: 2px solid black;
    border-radius: 10px;
}
.news__letter p{
    margin: 20px 0px;
}
.news__letter button{
    background-color:#1D232C ;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

/* FOOTER SECTION */
.footer{
    margin-top: 30px;
    padding: 30px;
    background-color: #1D232C;
    color: white;
}
.footer p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer__icon{
    display: flex;
    gap: 5%;
}

/* CONTACT PAGE */
.contact{
    width: 70%;
    background-color: #1D232C;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    padding: 5%;
}
.contact h2{
    text-align: center;
    margin-bottom: 20px;
}
.contact input{
    display:block;
    width: 100%;
    height:60px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px;
    outline: none;
    border-radius: 5px;
    border: none;
}
.contact textarea{
    display:block;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px;
    outline: none;
    border-radius: 5px;
    border: none;
    resize: none;
}
.contact button{
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* COLLECTIONS MAIN SECTION */
.main{
    display: flex;
    gap: 10%;
    margin-top: 20px;
    padding: 20px;
}
/* FILTER SECTION */
.side__section{
    width: 15%;
}
.side__section h2{
    margin-bottom: 15px;
}
.checkbox__section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
/* RIGHT SIDE */
.right__side{
    width: 85%; 
    border-left: 3px solid black;
    padding-left: 30px;
}
/* SEARCH BOX */
.searchBox{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    outline: 1px solid black;
}
.searchBox input{
    width: 100%;
    border: none;
    outline: none;
}
/* SHIRT ITEMS */
.collection__items{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.item{
    width: 30%;
}
.item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10PX;
}
.item img:hover{
    opacity: 0.8;
}
.item h3{
    margin: 10px 0;
}



/* MEDIA QUERIES */
@media screen and (max-width:468px) {
    .ad{
        height: 250px;
        padding: 20px 10px;
    }
    .ad img{
        height: 200px;
        width:150px;
    }
}
@media screen and (max-width:768px) {
    body{
        font-size: 10px;
    }
    .content{
        left: 10%;
    }
    .content h1{
        font-size: 40px;
    }
    .arrow{
        font-size: 60px;
    }
    .menu{
        display: block;
        padding-right: 30px;
    }
    .nav__list ul{
        display: none;
    }
/* SIDE BAR */
    .sidebar{
        display: block;
        width: 35%;
        height: 100vh;
        left: -50%;
        background-color: #1D232C;
        position: fixed;
        top: 0%;
        padding: 10px;
        z-index: 20;
        transition: all 1s ease;
    }
    .close__icon{
        text-align: right;
        padding: 20px 30px;
        cursor: pointer;
        color: white;
    }
    .sidebar__list{
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: aliceblue;
        list-style: none;
        padding: 0 30px;
    }
    .sidebar__list a{
        color: white;
        text-decoration: none;
        font-size: 13px;
    }
    .sidebar__list a:hover{
        color: goldenrod;
    }
/* BRANDS SECTION */
    .brand__container{
        flex-wrap: wrap;
    }
    .brand__list{
        width: 30%;
    }
    .brand__list p{
        font-size: 14px;
    }

/* ABOUT SECTION */
    .about__container{
        flex-wrap: wrap;
    }
    .about__list{
        width: 45%;
    }
/* ARRIVAL SECTION */
    .arrival__container{
        flex-wrap: wrap;
    }
    .arrival__list{
        width: 45%;
    }
/* AD SECTION */
    .ad__content h1{
        font-size: 30px;
    }
    .ad__content h3{
        font-size: 12px;
    }
    .ad__content button{
        font-size: 10px;
    }
/* CONTACT FORM */
    .contact input{
        height: 30px;
    }
/* COLLECTIONS SECTION */
    .main{
        font-size: 10px;
    }
    .item{
        width: 45%;
    }
    .side__section{
        font-size: 10px;
    }
}
@media screen and (max-width:980px) {
    body{
        font-size: 12px;
    }
}
